@theme {
  --color-gnb-bg: #f6f5ef;
  --color-footer-bg: #2c2a29;
  --color-footer-awards-bg: #282828;
  --color-footer-rules: #cccccc;
  --color-starbucks-green-01: #00b050;
  --color-starbucks-green-02: #669900;
  --color-starbucks-black-01: #2c2a29;
  --color-starbucks-black-02: #999999;
}
